@charset "utf-8";
/* CSS Document */
a:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
}
a:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
}
a:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: yellow;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none;
}
p
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.upLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    TEXT-ALIGN: left;
    FONT-FAMILY: Verdana, Arial, sans-serif;
}
.Bborder
{
    BORDER-BOTTOM: #ffffff 1px dashed;
}
.RememberSave
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
}